.link {
    color: #008394;
    cursor: pointer;
    font-weight: bold;
  }
  
  .logout-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background: #00bcd4;
    color: #102a43;
  }
  